<section class="light" id="portfolio">
    <h2>Portfolio</h2>
    <h3>
        I have many project ideas that I am excited to work on yet I need to find the time to work on them. I am always coming up with new ideas and I can't wait to see what comes from them.
    </h3>
    <div class="portfolio-container">
    @if (projects is null || projectStages is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="portfolio-hero">
            @if (hero is not null)
            {
                <img src="@(hero.Src)" style="height: 90%; width: 100%; object-fit: cover;" 
                    alt="@(hero.Alt)" />
            }
        </div>
        <div style="width:95%;margin-left:2.5%;margin-right:2.5%; border-radius: 10px; background-color: lightblue; padding-top:10px; padding-bottom: 10px;">
            @foreach(var stage in projectStages)
            {
                <h3 style="font-weight: bolder; width:100%; text-align: center;">
                    @stage
                </h3>
                <div class="container">
                    @foreach (var project in projects.Where(x => x.Stage == stage))
                    {
                        <div class="box" style="border-color:hsl(195, 49%, 53%); background-color:lightgrey;" key="@project.Title">
                            <a href="@project.Url" target="_blank" rel="noopener noreferrer">
                                <h3 style="flex-basis: 40px;">@project.Title</h3>
                            </a>
                            <p class="small">@project.Description</p>
                        </div>
                    }
                </div>
            }
        </div>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private List<Project>? projects;
    private List<string> projectStages = new List<string>();
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("sample-data/projects.json");
        if(projects != null)
        {
            await SetProjectStages();
        }
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "portfolio");
    }

    private Task SetProjectStages()
    {
        foreach (var project in projects)
        {
            if(!projectStages.Contains(project.Stage))
            {
                projectStages.Add(project.Stage);
            }
        }
        return Task.CompletedTask;
    }
}
